html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.HUD-container {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 16px;
  background-color: #ffffffa8;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* LOADING */

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingLogo {
  width: 120px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  animation: fadeInOut 3s ease-in-out infinite;
}
