html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #05346E;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  cursor: pointer;
  width: 80vw;
  display: flex;
}

.controls-container {
  box-sizing: border-box;
  padding: 10px;
  width: 20vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comment-container p {
  font-size: small;
  color: #05346E;
}

.comment-container p strong {
  color: #f03932;
}

.blur-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.blur-container p {
  font-size: small;
  color: #05346E;
}

.blur-container p strong {
  color: #f03932;
}

